@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Figtree&family=Nunito+Sans:opsz@6..12&family=Outfit:wght@900&family=Raleway:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Figtree&family=Noto+Color+Emoji&family=Nunito+Sans:opsz@6..12&family=Outfit:wght@900&family=Raleway:ital,wght@0,300;1,200&display=swap');
@font-face {
    font-family: Hack;
    src: url(/fonts/SourceCodePro-Medium.ttf);
  }
  .tiz-arada{
    color: white;
    width: 97%;
    height: 95vh;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: tiz-arada;
    transition: .2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tiz-arada{
    from{
        color: white;
        transform: scale(100%);
    }
    to{
        color: rgb(185, 59, 0);
        transform: scale(105%);
    }
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(47, 11, 80);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.fixed{
    padding: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
}
.nav-container{
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(170, 125, 212, 0.315);
    backdrop-filter: blur(30px);
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li{
    list-style-type: none;
}
nav .logo a{
    display: flex;
    align-items: center;
    font-weight: 900;
}
.style-nav{
    height: 60px;
    display: flex;
    align-items: center;
}
nav li a{
    color: white;
    text-decoration: none;
}
.active a{
    background-color: rgb(73, 32, 112);
    color: #f4d2ff;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-links a{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 13.2px;
    transition: .2s ease-in-out;
}
.nav-links a:hover{
    background-color: rgb(47, 11, 80);
    color: #dddddd;
    padding-left: 20px;
    padding-right: 20px;
}
/* CONTENT */
.content-head{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 40px;
    font-weight: 900;
}
.ftext{
    color: white;
    padding-top: 70px;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.ftext h1{
    font-size: 28pt;
}
.ftext p{
    font-size: 11pt;
    transform: rotate(5deg);
}
/* Global */
.typewriter{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 72px 43px;
}
.style-type{
    background-color: rgb(71, 19, 119);
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 16px;
    border: 2px solid rgb(85, 26, 141);
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 14pt;
    padding: 1px;
    font-family: 'Anonymous Pro', monospace;  
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Lessons */

/* Work-Content */
.content{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center; 
}
.about-work{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
}
.work-card{
    text-align: center;
    color: white;
}
.work-text{
    background-color: rgb(71, 19, 119);
    padding: 17px 30px;
    border-radius: 7px;
}
index{
    font-family: 'Noto Color Emoji', sans-serif;
}
/* FOOTER
.footer-logo
.footer-links>footer-insta,footer-start,footer-linkedin */
footer{
    margin-top: 60px;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.footer{
    width: 100%;
    display: flex;
    color: #dee2e6;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top-width: 10px;
    border-top: 0.1px solid #dee2e6;
}
.footer-links{
    width: 40%;
    display: flex;
    justify-content: center;
}

footer li, footer a{
    list-style-type: none;
    text-decoration: none;
    padding-right: 15px;
    font-weight: normal;
    color: #dee2e6;
}
.footer-links .footer-start img{
    width: 18px;
}
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}
