@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Figtree&family=Nunito+Sans:opsz@6..12&family=Outfit:wght@900&family=Raleway:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Figtree&family=Noto+Color+Emoji&family=Nunito+Sans:opsz@6..12&family=Outfit:wght@900&family=Raleway:ital,wght@0,300;1,200&display=swap');
@font-face {
    font-family: Hack;
    src: url(/fonts/SourceCodePro-Medium.ttf);
  }
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(47, 11, 80);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
.fixed{
    padding: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
}
.nav-container{
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(170, 125, 212, 0.315);
    backdrop-filter: blur(30px);
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li{
    list-style-type: none;
}
nav .logo a{
    display: flex;
    align-items: center;
    font-weight: 900;
}
.style-nav{
    height: 60px;
    display: flex;
    align-items: center;
}
nav li a{
    color: white;
    text-decoration: none;
}
.active a{
    background-color: rgb(73, 32, 112);
    color: #f4d2ff;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-links a{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 13.2px;
    transition: .2s ease-in-out;
}
.nav-links a:hover{
    background-color: rgb(47, 11, 80);
    color: #dddddd;
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    width: 90%;
    margin-left: 10%;
    color: white;
    padding-top: 80px;
}
.content h1{
    padding-bottom: 15px;
}
.content p{
    padding-bottom: 10px;
}
.content li{
    padding-bottom: 3px;
}
.code-block{
    padding-top: 80px;
}
.code-content{
    width: 50%;
    margin-left: 5%;
    padding: 30px 20px;
    border-radius: 7px;
    background-color: rgb(58, 30, 85);
}
.code{
    font-weight: 400;
    font-family: Hack;
    padding: 20px 25px;
    border-radius: 7px;
    background-color: rgb(51, 30, 71);
}
.figure{
    color: rgb(164, 112, 212);
}
.main-code{
    color: rgb(255, 100, 39);
}
.main-name{
    font-style: italic;
    color: rgb(231, 139, 1);
}
.none{
    display: none;
}
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}